$dark: $text;
$text: rgb(241, 241, 241);

body.dark {
  	background-color: $dark;
	color: $text;

	&.loading {
		transition: none!important;
	}
	
	::selection {
		color: $text;
		background: rgba($primary, .99);
	}

  	a {
		color: $text;
		transition: all .3s;

		&:hover {
			color: $dark;
		}

		&.button:hover {
			transition-delay: .3s
		}

	}
	
	.timeline {
		color: $text;
	}

}