.default-leave-active,
.default-enter-active {
    transition: all .5s;
}

.default-enter,
.default-leave-to {
    opacity: 0;
}

.default-move {
    transition: .5s;
}

.child-view {
    position: absolute;
    width: 100vw;
    overflow: hidden;
    transition: opacity .3s cubic-bezier(.55, 0, .1, 1);
}