@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap');
/*
@font-face {
    font-family: 'Protokoll';
    src: url('assets/font/Light.woff') format('woff');
}

@font-face {
    font-family: 'Protokoll';
    src: url('assets/font/Bold.woff') format('woff');
    font-weight: bold;
}
*/

html {
    font-family: 'IBM Plex Sans', sans-serif;
    //font-family: 'Protokoll';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 5rem;

    -webkit-text-stroke: 1px currentColor;
    -webkit-text-fill-color: transparent;

    @include media-breakpoint-down(md) {
        font-size: 2.7rem;
        line-height: 3.5rem;
    }
    
}

h2 {
    font-size: 3rem;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.4s ease-out;

    &.view-in {
        opacity: 1;
        transform: translateY(0);
    }

    @include media-breakpoint-down(md) {
        font-size: 1.8rem;
    }

}

h3 {
    font-weight: 500;
}

.half {
    color: $half;
}

p {
    line-height: 1.3;
}