@import url('https://rsms.me/inter/inter.css');

html {
    font-family: 'Inter', sans-serif;
    font-feature-settings: 'ss02'1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $text;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

h1 {
    font-size: 4rem;

    @include media-breakpoint-down(md) {
        font-size: 2.7rem;
        line-height: 3.5rem;
    }
    
}

h2 {
    font-size: 3rem;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.4s ease-in-out;

    &.view-in {
        opacity: 1;
        transform: translateY(0);
    }

    @include media-breakpoint-down(md) {
        font-size: 1.8rem;
    }

}

.half {
    color: $half;
}