
$spacer: 5rem;

$primary: #e7c921;
$text: #0f0f13;
$half: #999;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.constrain {
  width: 100%;
  max-width: 1420px;
  padding-right: 6rem;
  padding-left: 6rem;
  margin-right: auto;
  margin-left: auto;
  @media (max-width: 900px) {
    padding-right: 25px;
    padding-left: 25px;
  }
}