@import "variables";
@import "mixins";
@import "transitions";

@import "~bootstrap/scss/bootstrap-grid";

@import "images";
@import "utils";
@import "type";
@import "elements";

body {
  margin: 0;
  min-height: 100vh;
  transition: background .7s ease-out, color .2s ease;
  overflow-x: hidden;
  overflow-y: scroll;
  color: $text;

  &.hover {
    cursor: pointer;
    user-select: none;
  }
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &::-webkit-scrollbar {
    width: .8em;
    height: .5em;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $primary;
  }

}

::selection {
  color: $primary;
  background: rgba(0, 0, 0, 0.99);
}

@import "dark";